USE [STG_Cargills_SALES]
GO
/****** Object:  StoredProcedure [dbo].[SUP_DWH_DIM_PRODUCT]    Script Date: 11/27/2023 5:13:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
	
ALTER PROCEDURE [dbo].[SUP_DWH_DIM_PRODUCT]
AS
BEGIN
---------------------------------------------------------
	-----INSERTION PRODUCT------------
	MERGE INTO [dbo].[DWH_Dim_PRODUCT] AS TARGET
	USING (	
	SELECT [PRODUCTCODE],
		[PRODUCTLINE],
		[MSRP],
		'Y' [FLAG]
	FROM (SELECT *,
			ROW_NUMBER() OVER (PARTITION BY [PRODUCTCODE],[PRODUCTLINE],[MSRP] 
								ORDER BY [PRODUCTCODE]) [ROW NO]
		FROM [dbo].[STG_SALES]) STG
	WHERE [ROW NO] = 1 AND 
			[PRODUCTCODE] NOT IN (SELECT DISTINCT [PRODUCTCODE] FROM [dbo].[DWH_Dim_PRODUCT])

	UNION 

	SELECT [PRODUCTCODE],
		[PRODUCTLINE],
		[MSRP],
		'Y' [FLAG]
	FROM (SELECT *,
			ROW_NUMBER() OVER (PARTITION BY [PRODUCTCODE],[PRODUCTLINE],[MSRP] 
								ORDER BY [PRODUCTCODE]) [ROW NO],
			CONCAT([PRODUCTCODE],[PRODUCTLINE],[MSRP]) [CONCAT KEY]
		FROM [dbo].[STG_SALES]
		WHERE [PRODUCTCODE] IN (SELECT DISTINCT [PRODUCTCODE] FROM [dbo].[DWH_Dim_PRODUCT])
		) STG_P
	WHERE [ROW NO] = 1 AND [CONCAT KEY] <> (SELECT CONCAT([PRODUCTCODE],[PRODUCTLINE],[MSRP])
											FROM [dbo].[DWH_Dim_PRODUCT] I_P
											WHERE I_P.[PRODUCTCODE] = STG_P.[PRODUCTCODE])
	)SCOURCE 
	ON SCOURCE.[PRODUCTCODE] = TARGET.[PRODUCTCODE]
	WHEN MATCHED AND TARGET.FLAG = 'Y' 
	THEN UPDATE 
	SET TARGET.FLAG = 'N';


	
	INSERT INTO [dbo].[DWH_Dim_PRODUCT] (
						[PRODUCTCODE]
						,[PRODUCTLINE]
						,[MSRP]
	)
	SELECT [PRODUCTCODE],
		[PRODUCTLINE],
		[MSRP]
	FROM (SELECT *,
			ROW_NUMBER() OVER (PARTITION BY [PRODUCTCODE],[PRODUCTLINE],[MSRP] 
								ORDER BY [PRODUCTCODE]) [ROW NO]
		FROM [dbo].[STG_SALES]) STG
	WHERE [ROW NO] = 1 AND 
			[PRODUCTCODE] NOT IN (SELECT DISTINCT [PRODUCTCODE] FROM [dbo].[DWH_Dim_PRODUCT])

	UNION 

	SELECT [PRODUCTCODE],
		[PRODUCTLINE],
		[MSRP]
	FROM (SELECT *,
			ROW_NUMBER() OVER (PARTITION BY [PRODUCTCODE],[PRODUCTLINE],[MSRP] 
								ORDER BY [PRODUCTCODE]) [ROW NO],
			CONCAT([PRODUCTCODE],[PRODUCTLINE],[MSRP]) [CONCAT KEY]
		FROM [dbo].[STG_SALES]
		WHERE [PRODUCTCODE] IN (SELECT DISTINCT [PRODUCTCODE] FROM [dbo].[DWH_Dim_PRODUCT])
		) STG_P
	WHERE [ROW NO] = 1 AND [CONCAT KEY] <> (SELECT CONCAT([PRODUCTCODE],[PRODUCTLINE],[MSRP])
											FROM [dbo].[DWH_Dim_PRODUCT] I_P
											WHERE I_P.[PRODUCTCODE] = STG_P.[PRODUCTCODE])
END

