USE [STG_Cargills_SALES]
GO
/****** Object:  StoredProcedure [dbo].[SUP_DWH_DIM_DATE]    Script Date: 11/27/2023 5:13:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER PROCEDURE [dbo].[SUP_DWH_DIM_DATE]
AS
BEGIN

INSERT INTO [dbo].[DWH_Dim_Date] (
	[DATE_KEY]
	  ,[DATE]
      ,[YEAR]
      ,[QUARTER]
      ,[MONTH]
      ,[MONTH_NAME]
      ,[WEEK_OF_YEAR]
      ,[DAY]
      ,[DAY_NAME]
)
(
	SELECT 
	cast(concat(FORMAT([ORDERDATE],'yyyy'),FORMAT([ORDERDATE],'MM'), FORMAT([ORDERDATE],'dd')) as int) AS [DATE_KEY]
     ,CAST([ORDERDATE] AS DATE) [DATE]
	 ,FORMAT([ORDERDATE],'yyyy') [YEAR]
	 ,DATEPART(QUARTER,[ORDERDATE]) [QUARTER]
	 ,FORMAT([ORDERDATE], 'M ') [MONTH]
	 ,FORMAT([ORDERDATE],'MMMM') [MONTH_NAME]
	 ,DATEPART(WEEK,[ORDERDATE]) [WEEK_OF_YEAR]
	 ,FORMAT([ORDERDATE],'d ') [DAY]
	 ,FORMAT([ORDERDATE],'dddd') [DAY_NAME]
	 
	FROM (SELECT [ORDERDATE],
				ROW_NUMBER() OVER (PARTITION BY [ORDERDATE] ORDER BY [ORDERDATE]) [ROW NUMBER]
			FROM [STG_Cargills_SALES].[dbo].[STG_SALES]) A

	WHERE A.[ROW NUMBER]=1 AND 
	[ORDERDATE] NOT IN (SELECT DISTINCT [DATE] FROM [DWH_Dim_Date]) ----CHECKING WHETHER DATE IS ALREADY IN THE TABLE

	UNION 

	SELECT 
	cast(concat(FORMAT([LOAD_DMT],'yyyy'),FORMAT([LOAD_DMT],'MM'), FORMAT([LOAD_DMT],'dd')) as int) AS [DATE_KEY]
     ,CAST([LOAD_DMT] AS DATE) [DATE]
	 ,FORMAT([LOAD_DMT],'yyyy') [YEAR]
	 ,DATEPART(QUARTER,[LOAD_DMT]) [QUARTER]
	 ,FORMAT([LOAD_DMT], 'M ') [MONTH]
	 ,FORMAT([LOAD_DMT],'MMMM') [MONTH_NAME]
	 ,DATEPART(WEEK,[LOAD_DMT]) [WEEK_OF_YEAR]
	 ,FORMAT([LOAD_DMT],'d ') [DAY]
	 ,FORMAT([LOAD_DMT],'dddd') [DAY_NAME]
	 
	FROM (SELECT [LOAD_DMT],
				ROW_NUMBER() OVER (PARTITION BY [LOAD_DMT] ORDER BY [ORDERDATE]) [ROW NUMBER]
			FROM [STG_Cargills_SALES].[dbo].[STG_SALES]) A

	WHERE A.[ROW NUMBER]=1	AND 
	[LOAD_DMT] NOT IN (SELECT DISTINCT [DATE] FROM [DWH_Dim_Date]) ----CHECKING WHETHER DATE IS ALREADY IN THE TABLE

)


END
