USE [STG_Cargills_SALES]
GO
/****** Object:  StoredProcedure [dbo].[SUP_DWH_DIM_CUSTOMER]    Script Date: 11/27/2023 5:14:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[SUP_DWH_DIM_CUSTOMER]
AS
BEGIN
	
	MERGE INTO [dbo].[DWH_Dim_CUSTOMER] AS TARGET
	USING (
	SELECT [CUSTOMERNAME],
					[PHONE],
					CASE 
						WHEN ADDRESSLINE2 IS NOT NULL THEN CONCAT(ADDRESSLINE1,', ',ADDRESSLINE2)
						WHEN ADDRESSLINE2 IS NULL THEN ADDRESSLINE1 
					END [ADDRESSLINE],
					[CITY],
					CASE 
						WHEN CHARINDEX(',',[State]) <> 0 THEN SUBSTRING([State],0,CHARINDEX(',',[State]))
					END [STATE],
					[POSTALCODE],
					[COUNTRY],
					[TERRITORY],
					[CONTACTLASTNAME],
					[CONTACTFIRSTNAME],
					'Y' [FLAG],
					ADDRESSLINE2,
					ADDRESSLINE1
	FROM (SELECT  [CUSTOMERNAME],
					[PHONE],
					ADDRESSLINE1,
					ADDRESSLINE2,
					[CONTACTLASTNAME],
					[CONTACTFIRSTNAME],
					[State],
					[TERRITORY],
					[POSTALCODE],
					[COUNTRY],
					[CITY],
					[CONCAT KEY],
					[ROW NO]
			FROM (SELECT [CUSTOMERNAME],
					[PHONE],
					ADDRESSLINE1,
					ADDRESSLINE2,
					[CONTACTLASTNAME],
					[CONTACTFIRSTNAME],
					SSN.[State],
					[TERRITORY],
					[POSTALCODE],
					[COUNTRY],
					[CITY],
					ROW_NUMBER() OVER (PARTITION BY [CUSTOMERNAME],[PHONE],ADDRESSLINE1,ADDRESSLINE2,[CONTACTLASTNAME],[CONTACTFIRSTNAME] --ONLY CHECKING THE ADDRESS SINCE CITY,STATE,POSTALCODE,COUNTRY ARE DEPENDAND ON STATE
						ORDER BY [CUSTOMERNAME]) [ROW NO],
						CONCAT([CUSTOMERNAME],[PHONE],ADDRESSLINE1,ADDRESSLINE2,[CONTACTLASTNAME],[CONTACTFIRSTNAME]) [CONCAT KEY]
					FROM [dbo].[STG_SALES] SIS
				LEFT JOIN [dbo].[STG_STATE_NAME] SSN ON SIS.[STATE]=SSN.Code
				WHERE [CUSTOMERNAME] IN (SELECT DISTINCT [CUSTOMERNAME] FROM [dbo].[DWH_Dim_CUSTOMER])
			) SS
			WHERE [ROW NO] = 1 AND [CONCAT KEY] <> (SELECT CONCAT([CUSTOMERNAME],[PHONE],ADDRESSLINE1,ADDRESSLINE2,[CONTACTLASTNAME],[CONTACTFIRSTNAME]) [CONCAT KEY]
													FROM [dbo].[DWH_Dim_CUSTOMER] IIC
													WHERE IIC.[CUSTOMERNAME] = SS.[CUSTOMERNAME] AND IIC.[FLAG] = 'Y')
			UNION 

			SELECT  [CUSTOMERNAME],
					[PHONE],
					ADDRESSLINE1,
					ADDRESSLINE2,
					[CONTACTLASTNAME],
					[CONTACTFIRSTNAME],
					[State],
					[TERRITORY],
					[POSTALCODE],
					[COUNTRY],
					[CITY],
					[CONCAT KEY],
					[ROW NO]
			FROM (SELECT [CUSTOMERNAME],
					[PHONE],
					ADDRESSLINE1,
					ADDRESSLINE2,
					[CONTACTLASTNAME],
					[CONTACTFIRSTNAME],
					SSN.[State],
					[TERRITORY],
					[POSTALCODE],
					[COUNTRY],
					[CITY],
					ROW_NUMBER() OVER (PARTITION BY [CUSTOMERNAME],[PHONE],ADDRESSLINE1,ADDRESSLINE2,[CONTACTLASTNAME],[CONTACTFIRSTNAME] --ONLY CHECKING THE ADDRESS SINCE CITY,STATE,POSTALCODE,COUNTRY ARE DEPENDAND ON STATE
						ORDER BY [CUSTOMERNAME]) [ROW NO],
						CONCAT([CUSTOMERNAME],[PHONE],ADDRESSLINE1,ADDRESSLINE2,[CONTACTLASTNAME],[CONTACTFIRSTNAME]) [CONCAT KEY]
					FROM [dbo].[STG_SALES] SIS
				LEFT JOIN [dbo].[STG_STATE_NAME] SSN ON SIS.[STATE]=SSN.Code
				WHERE [CUSTOMERNAME] NOT IN (SELECT DISTINCT [CUSTOMERNAME] FROM [dbo].[DWH_Dim_CUSTOMER])
			) SS
			WHERE [ROW NO] = 1
		)SSS
		) SCOURCE 

		  ON TARGET.[CUSTOMERNAME] = SCOURCE.[CUSTOMERNAME] 
		  WHEN MATCHED AND TARGET.FLAG = 'Y' 
		  THEN UPDATE 
		  SET TARGET.FLAG = 'N';

		--------------------------------------------------------
		INSERT INTO [dbo].[DWH_Dim_CUSTOMER]([CUSTOMERNAME]
		  ,[PHONE]
		  ,[ADDRESSLINE]
		  ,[CITY]
		  ,[STATE]
		  ,[POSTALCODE]
		  ,[COUNTRY]
		  ,[TERRITORY]
		  ,[CONTACTLASTNAME]
		  ,[CONTACTFIRSTNAME]
		  ,[FLAG]
		  ,[ADDRESSLINE2]
		  ,[ADDRESSLINE1]
		  )

		  SELECT [CUSTOMERNAME],
					[PHONE],
					CASE 
						WHEN ADDRESSLINE2 IS NOT NULL THEN CONCAT(ADDRESSLINE1,', ',ADDRESSLINE2)
						WHEN ADDRESSLINE2 IS NULL THEN ADDRESSLINE1 
					END [ADDRESSLINE],
					[CITY],
					CASE 
						WHEN CHARINDEX(',',[State]) <> 0 THEN SUBSTRING([State],0,CHARINDEX(',',[State]))
					END [STATE],
					[POSTALCODE],
					[COUNTRY],
					[TERRITORY],
					[CONTACTLASTNAME],
					[CONTACTFIRSTNAME],
					'Y' [FLAG],
					ADDRESSLINE2,
					ADDRESSLINE1
	FROM (SELECT  [CUSTOMERNAME],
					[PHONE],
					ADDRESSLINE1,
					ADDRESSLINE2,
					[CONTACTLASTNAME],
					[CONTACTFIRSTNAME],
					[State],
					[TERRITORY],
					[POSTALCODE],
					[COUNTRY],
					[CITY],
					[CONCAT KEY],
					[ROW NO]
			FROM (SELECT [CUSTOMERNAME],
					[PHONE],
					ADDRESSLINE1,
					ADDRESSLINE2,
					[CONTACTLASTNAME],
					[CONTACTFIRSTNAME],
					SSN.[State],
					[TERRITORY],
					[POSTALCODE],
					[COUNTRY],
					[CITY],
					ROW_NUMBER() OVER (PARTITION BY [CUSTOMERNAME],[PHONE],ADDRESSLINE1,ADDRESSLINE2,[CONTACTLASTNAME],[CONTACTFIRSTNAME] --ONLY CHECKING THE ADDRESS SINCE CITY,STATE,POSTALCODE,COUNTRY ARE DEPENDAND ON STATE
						ORDER BY [CUSTOMERNAME]) [ROW NO],
						CONCAT([CUSTOMERNAME],[PHONE],ADDRESSLINE1,ADDRESSLINE2,[CONTACTLASTNAME],[CONTACTFIRSTNAME]) [CONCAT KEY]
					FROM [dbo].[STG_SALES] SIS
				LEFT JOIN [dbo].[STG_STATE_NAME] SSN ON SIS.[STATE]=SSN.Code
				WHERE [CUSTOMERNAME] IN (SELECT DISTINCT [CUSTOMERNAME] FROM [dbo].[DWH_Dim_CUSTOMER])
			) SS
			WHERE [ROW NO] = 1 AND [CONCAT KEY] <> (SELECT CONCAT([CUSTOMERNAME],[PHONE],ADDRESSLINE1,ADDRESSLINE2,[CONTACTLASTNAME],[CONTACTFIRSTNAME]) [CONCAT KEY]
													FROM [dbo].[DWH_Dim_CUSTOMER] IIC
													WHERE IIC.[CUSTOMERNAME] = SS.[CUSTOMERNAME] AND IIC.[FLAG] = 'Y')
			UNION 

			SELECT  [CUSTOMERNAME],
					[PHONE],
					ADDRESSLINE1,
					ADDRESSLINE2,
					[CONTACTLASTNAME],
					[CONTACTFIRSTNAME],
					[State],
					[TERRITORY],
					[POSTALCODE],
					[COUNTRY],
					[CITY],
					[CONCAT KEY],
					[ROW NO]
			FROM (SELECT [CUSTOMERNAME],
					[PHONE],
					ADDRESSLINE1,
					ADDRESSLINE2,
					[CONTACTLASTNAME],
					[CONTACTFIRSTNAME],
					SSN.[State],
					[TERRITORY],
					[POSTALCODE],
					[COUNTRY],
					[CITY],
					ROW_NUMBER() OVER (PARTITION BY [CUSTOMERNAME],[PHONE],ADDRESSLINE1,ADDRESSLINE2,[CONTACTLASTNAME],[CONTACTFIRSTNAME] --ONLY CHECKING THE ADDRESS SINCE CITY,STATE,POSTALCODE,COUNTRY ARE DEPENDAND ON STATE
						ORDER BY [CUSTOMERNAME]) [ROW NO],
						CONCAT([CUSTOMERNAME],[PHONE],ADDRESSLINE1,ADDRESSLINE2,[CONTACTLASTNAME],[CONTACTFIRSTNAME]) [CONCAT KEY]
					FROM [dbo].[STG_SALES] SIS
				LEFT JOIN [dbo].[STG_STATE_NAME] SSN ON SIS.[STATE]=SSN.Code
				WHERE [CUSTOMERNAME] NOT IN (SELECT DISTINCT [CUSTOMERNAME] FROM [dbo].[DWH_Dim_CUSTOMER])
			) SS
			WHERE [ROW NO] = 1
		)SSS

END				